#picture-of-me {
    width: 300px;
    float: left;
}

p, form {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    line-height: 25px;
    font-size: 17px;
}

body {
    padding: 0;
    margin: 0;
    background-image: url("../images/what-the-hex.png");
    background-repeat: repeat;
}

nav {
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    color: lightgray;
}

h1 {
    font-size: 25px;
    height: 45px;
    border: #cccccc solid 2px;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    background: #4aaaa5;
    color: #ffffff;
}

h2 {
    color: #4aaaa5;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    border-bottom: #cccccc solid 2px;
    height: 50px
}

 section {
    top: 50px; 
    position: relative;
    margin: auto;
    background: #ffffff;
    border: #dddddd solid 2px;
    align-content: center;
    padding: 20px;
}

.portfolio-image {
    margin: 30px;
    width: 300px;
}
