<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>EAT-DA-BURGER</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="/assets/css/burger_style.css" type="text/css">
	<link rel="manifest" href="/manifest.webmanifest" />
	<link rel="shortcut icon" href="/public/assets/images/favicon.ico">

</head>

<body>
	{{{ body }}}
	
	<script src="/assets/js/burgers.js"></script>

	<script>
		if ('serviceWorker' in navigator) {
			window.addEventListener('load', () => {
				navigator.serviceWorker.register('service-worker.js')
					.then((reg) => {
						console.log('We found your service worker file!', reg);
					});
			});
		}
	</script>

</body>

</html>