body {
    background-image: url("images/food.png");
    background-repeat: repeat;
    width: 100%;
    text-align: center;
    font-family: 'Roboto Mono', monospace, Arial, Helvetica, sans-serif;
}

h1, h2 {

    color:#777777;
}

.container {
    margin: auto;
    width: 550px;
    background-repeat: repeat;
    padding: 10px;
    position: relative;
    top: 100px;
    border: #777777 solid 3px;
    background: whitesmoke;
}

#quizQuestions {
    font-size: 20px;
}

#seconds {
    position: absolute;
    top: 10px;
    right: 50px;
    color: whitesmoke;
    font-size: 60px;
    background: black;
    margin: 15px;
    
}

.btn {
    margin: 4px;
}

#result {
    color:#777777;
}